<article>
    <h1>{{ meta.h1 }}</h1>
    <section class="{{ article.format }}">{{ article.html }}</section>
    <nav id="next-prev">
        <p class="prev">
            {% unless article.previous == empty %}
            <a href="{{ article.previous | url }}">&larr; Previous<br>{{ article.previous.title }}</a>
            {% endunless %}            
        </p>
        <p class="next">
            {% unless article.next == empty %}
            <a href="{{ article.next | url }}">Next &rarr;<br>{{ article.next.title }}</a>
            {% endunless %}            
        </p>
    </nav>
</article>
